/* Imporlah. Sebentar. Amber menghilang! */


/* Oklah Amber Robocar Poli. Sudahlah tak perlu itu. Ini bagian tubuh. */

html {color: white; word-wrap: break-word;width: 1.0;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(rest/ARJUSELA_02.jpg);background-repeat: no-repeat;font-size: 16px;background-attachment: fixed;background-size: cover;}


/* Komponen tambahan dalam skrip. Amber pasti bisa. Ya kan jago ngoding. 
Tombol-tombol pada skip untuk elemen HTML atau PHP. */
        
.button {font-size: 16px;border: none;color: white;padding: 1.2%;text-align: center;text-decoration: none;display: inline-block;margin: 0.1%;transition-duration: 0.4s;cursor: pointer;}

		.Amber {
			background-color: #111; 
			color: auto; 
			border: 2px solid #e60073;
		}

		.Amber:hover {
			background-color: #ff8080;
			color: auto;
		}

		.Everest {
		background-color: #111; 
		color: auto; 
		border: 2px solid #00cccc;
		}

		.Everest:hover {
		background-color: #00cccc;
		color: auto;
		}

		.Zuma {
		background-color: #111; 
		color: auto; 
		border: 2px solid #ff8000;
		}

		.Zuma:hover {
		background-color: #ff8000;
		color: auto;
		}
		
/* URL dengan tak ada garis bawah kecuali kursor mouse untuk hover/sentuhan */
	a {text-decoration: none; color: yellow;}
	a:hover {text-decoration: underline; color:auto;}
	.a_Amber {
		color: #FFB6C1;
	}
	.a_Everest {
	color: #00cccc;
	}